{{title "All Teams"}}
{{team-styles}}
<div class="container">
    <h1>Scoreboard - Teams</h1>
    <div id="result" style="display: flex; justify-content: center;"></div>
    <div style="display: flex; justify-content: center;">
        {{#link-to "teams.create" class="create-team-btn"}}+ Create New Team{{/link-to}}
        {{#link-to "match.index" class="create-team-btn"}}All Matches{{/link-to}}
        {{#link-to "tournament.index" class="create-team-btn"}}View Tournaments{{/link-to}}
    </div>
    <div id="team-list" class="team-list">
        {{#each slicedTeams as |team|}}
        <div class="team-item">
            <div class="info">
                <span>
                    <img src={{team.logo}} alt="Team Logo" height="30" width="30" />
                    {{team.name}}
                </span>
                <br>
                <p>Players:</p>
                <ul class="players">
                    {{#each team.firstHalf as |player|}}
                    <li>{{player}}</li>
                    {{/each}}
                </ul>
                <ul class="players">
                    {{#each team.secondHalf as |player|}}
                    <li>{{player}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="actions">
                {{#link-to "teams.view" team.id class="open-btn"}}View{{/link-to}}
                <br>
                <button class="delete-btn" {{action "deleteTeam" team.id}}>Delete</button>
            </div>
        </div>
        {{else}}
        <div class="no-teams">No teams found.</div>
        {{/each}}
    </div>
</div>