{{team-view-styles}}
<div class="container">
    <img src={{model.logo}} alt="Team Logo" height="100" width="100" class="circle-avatar" />
    <h1>{{model.name}}</h1>
    <h3 id="result">{{{resultMessage}}}</h3>
    {{#if tournamentsPresent}}
    <table>
        <thead>
            <tr>
                <th>Tournament Name</th>
                <th>Runs Scored</th>
                <th>Balls Faced</th>
                <th>Wickets Taken</th>
                <th>Matches Played</th>
            </tr>
        </thead>
        <tbody>
            {{#each tournaments as |tournament|}}
            <tr>
                <td>{{tournament.name}}</td>
                <td>{{tournament.total_runs}}</td>
                <td>{{tournament.total_balls}}</td>
                <td>{{tournament.total_wickets}}</td>
                <td>{{tournament.total_matches}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <div id="team-info" class="team-info">
        <p>Players:</p>
        <ul class="players">
            {{#each model.players as |player|}}
            <li>
                <span class="player-name">
                    <img src={{player.avatar}} alt="Team Logo" height="30" width="30" />
                    {{player.name}}
                </span>
                <div class="action-buttons">
                    <button class="calculate-btn" {{action "calculateScore" player}}>Runs</button>
                    <button class="calculate-btn" {{action "calculateWickets" player}}>Wickets</button>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

    {{#link-to "teams.index" class="back-btn"}}← Back to Teams{{/link-to}}
</div>