{{title "Match Highlights"}}
{{match-styles}}
{{#if highlights_path}}
<h2>{{team1}} vs {{team2}}<br>Match Highlights</h2>
<div style="position: relative;width: 512px;height: 288px;margin: auto;">
    <video id="highlight-vdo" preload="auto" {{action "togglePlayPause" }}>
        <source src={{{concat "http://localhost:8080/video/highlights?name=" highlights_path}}} type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {{#if currentViewing}}
    <div class="result-overlay">
        <p>{{currentViewing}}</p>
    </div>
    {{/if}}
    <div class="custom-controls">
        <button class="controls-btn" {{action "togglePlayPause" }}>
            {{#if isPlaying}}
            ❚❚
            {{else}}
            ▶
            {{/if}}
        </button>
        <input type="range" min={{startTime}} max={{totalTime}} value={{currentTime}} oninput={{action "seekVideo"
            value="target.value" }} class="video-progress"/>
        <span class="video-time">{{format-secs currentTime}} / {{format-secs totalTime}}</span>
        {{#if (not-eq videoLength totalTime)}}
        <button class="link-btn" {{action "viewOriginal" }}>View All</button>
        {{/if}}
    </div>
</div>
<br>
<br>
<h3>{{{resultMessage}}}</h3>
{{else}}
<p>No highlights found</p>
{{/if}}
<br>
<h3>{{team1}} Players</h3>
<table border="1" style="width: 80%; margin: auto; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Players</th>
            {{#each team1_players as |player index|}}
            <th>
                {{player.name}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highlights</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>-</p>
                {{else}}
                <button class="link-btn" {{action "trimPart" "team1" index}}>View</button>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{!-- <tr>
            <td>Start Time</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <p>{{format-secs player.startTime}}</p>
                {{/if}}
            </td>
            {{/each}}
        {{#if (not-eq videoLength totalTime)}}
        {{#if (not-eq currentViewingIndex 0)}}
        <button class="controls-btn" {{action "previousPlayer" }}>⏮</button>
        {{/if}}
        {{/if}}
        {{#if (not-eq videoLength totalTime)}}
        {{#if (not-eq currentViewingIndex 22)}}
        <button class="controls-btn" {{action "nextPlayer" }}>⏭</button>
        {{/if}}
        {{/if}}
        </tr> --}}
    </tbody>
</table>
<h3>{{team2}} Players</h3>
<br>
<table border="1" style="width: 80%; margin: auto; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Players</th>
            {{#each team2_players as |player index|}}
            <th>
                {{player.name}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highlights</td>
            {{#each team2_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>-</p>
                {{else}}
                <button class="link-btn" {{action "trimPart" "team2" index}}>View</button>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{!-- <tr>
            <td>Start Time</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <p>{{format-secs player.startTime}}</p>
                {{/if}}
            </td>
            {{/each}}
        </tr> --}}
    </tbody>
</table>
<br>
{{!-- {{#link-to "match.edit" model.id}}← Back to match{{/link-to}} --}}
<button class="link-btn" {{action "goBack"}}>← Back to match</button>
<br>
<br>