{{title "Match Highlights"}}
{{match-styles}}
{{#if highlights_path}}
<h2>{{team1}} vs {{team2}}<br>Match Highlights</h2>
<video id="highlight-vdo" controls preload="auto">
    <source src={{{concat "http://localhost:8080/video?name=" highlights_path "&total=1127&startTime=30&endTime=50"}}} type="video/mp4">
    Your browser does not support the video tag.
</video>
<h3>{{{highlights_path}}}</h3>
{{else}}
<p>No highlights found</p>
{{/if}}
<br>
<h3>{{team1}} Players</h3>
<table border="1" style="width: 80%; margin: auto; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Players</th>
            {{#each team1_players as |player index|}}
            <th>
                {{player.name}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highlights</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <button class="link-btn" {{action "seekTo" player.startTime}}>View</button>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{!-- <tr>
            <td>Start Time</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <p>{{format-secs player.startTime}}</p>
                {{/if}}
            </td>
            {{/each}}
        </tr> --}}
    </tbody>
</table>
<h3>{{team2}} Players</h3>
<br>
<table border="1" style="width: 80%; margin: auto; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Players</th>
            {{#each team2_players as |player index|}}
            <th>
                {{player.name}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highlights</td>
            {{#each team2_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <button class="link-btn" {{action "seekTo" player.startTime}}>View</button>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{!-- <tr>
            <td>Start Time</td>
            {{#each team1_players as |player index|}}
            <td>
                {{#if (eq player.balls 0)}}
                <p>No Batted</p>
                {{else}}
                <p>{{format-secs player.startTime}}</p>
                {{/if}}
            </td>
            {{/each}}
        </tr> --}}
    </tbody>
</table>
<br>
{{#link-to "match.edit" model.id}}Back{{/link-to}}